{
    "irc": {
        "server": "irc.server.com",
        "port": "6667",
        "ssl": false,
        "channel": "#channel",
        "nickname": "h_bot",
        "owner": "username",
        "cmd_prefix": "!",
        "output_msg": "<:username:> :message:",
        "output_cmd": "CMD by :username:",
        "log_events": true
    },
    "discord": {
        "server": <server id>,
        "channel": <channel id>,
        "token": "<bot token>",
        "owner": "username",
        "cmd_prefix": "!",
        "output_msg": "<:username:> :message:",
        "output_cmd": "CMD by :username:",
        "log_events": true
    },
    "formatting": {
        "irc_to_discord": false,
        "discord_to_irc": true
    }
}
